{% load i18n static %}
<!doctype html>
<html lang="en" style="height: 100%">
    <head>
        <meta charset="utf-8" />
        <title>Survery preview</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- App favicon -->
        {% comment %} <link rel="shortcut icon" href="{% static 'theme/dist/assets/images/favicon.ico'  %}"> {% endcomment %}

        <!-- Bootstrap Css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="height: 100%">
        
        <div class="container p-3" style="height: 100%">
            <div class="row" style="height: 100%">
                <div class="col-12" style="height: 100%">
                    <div class="card p-5" style="height: 100%; overflow-y: auto">
                        <h1>Survery preview {{survey.id}}</h1>
                        <br/>
                        <br/>
                        <br/>
                        <b>Propiedad: </b>{{ survey.activity.property.title}}
                        <br/>
                        <b>Actividad: </b>{{ survey.activity.title }}
                        <br/>
                        <h3>Preguntas: </h3>
                        {% for a in answers %}
                            <div class="form-group row">
                                <label for="{{ a.0 }}" class="col-sm-2 col-form-label">{{ a.0 }}</label>
                                <div class="col-sm-10">
                                <input class="form-control" type="text" value="{{ a.1}}" readonly>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 text-center">
                </div>
            </div>
            <br>
        </div>
    </body>
    <!-- JAVASCRIPT -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</html>